@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Management</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-en.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            loadData();
        });
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/UserInfo/GetUserInfo',
                title: 'User Management',
                width: 700,
                height: 400,
                fitColumns: true, //Columns self adjustment
                nowrap: false,
                idField: 'ID',//The column of the key
                loadMsg: 'Loading users info...',
                pagination: true,//Paging or not
                singleSelect: false,//Allow to select single row or not
                pageSize: 5,//Max items in a page
                pageNumber: 1,//Current page number
                pageList: [5, 10, 15],
                queryParams: pars,//Paras sent to back end.
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: 'Number', width: 80 },
                    { field: 'UserName', title: 'Name', width: 120 },
                    { field: 'UserPass', title: 'Password', width: 120 },
                    { field: 'Remark', title: 'Remark', width: 120 },
                    {
                        field: 'RegTime', title: 'Reg Time', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                        }
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: 'Delete',
                    iconCls: 'icon-remove',
                    handler: function () {
                        
                        deleteInfo();
                    }
                }, {
                    id: 'btnAdd',
                    text: 'Add',
                    iconCls: 'icon-add',
                    handler: function () {

                        addInfo();
                    }
                }, {
                    id: 'btnEdit',
                    text: 'Edit',
                    iconCls: 'icon-edit',
                    handler: function () {

                        eidtInfo();
                    }
                }],
            })
        }

    </script>
</head>
<body>
    <div>
        <table id="tt" style="width: 700px;" title="Users management" iconcls="icon-edit" />
    </div>

</body>
</html>
