@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Management</title>
    <link href="~/Content/easyui.css" rel="stylesheet" />
    <link href="~/Content/JQEasyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-en.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <script type="text/javascript">
        $(function () {
            loadData();
            $("#addDiv").css("display", "none");
            $("#editDiv").css("display", "none");
            $("#frameSetRole").css("display", "none");
            //Searching
            $("#btnSearch").click(function () {
                var pars = {
                    name: $("#txtUserName").val(),
                    phone: $("#txtPhone").val()
                };
                loadData(pars);
            });

        });

        function loadData(pars) {
            $('#tt').datagrid({
                url: '/UserInfo/GetAllUserInfos',
                title: 'User Management',
                width: 700,
                height: 400,
                fitColumns: true, //Columns self adjustment
                nowrap: false,
                idField: 'ID',//The column of the key
                loadMsg: 'Loading users info...',
                pagination: true,//Paging or not
                singleSelect: false,//Allow to select single row or not
                pageSize: 5,//Max items in a page
                pageNumber: 1,//Current page number
                pageList: [5, 10, 15],
                queryParams: pars,//Paras sent to back end.
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: 'No.', width: 30 },
                    { field: 'UserName', title: 'Name', width: 120 },
                    { field: 'Pwd', title: 'Password', width: 100 },
                    { field: 'Mail', title: 'Email', width: 120 },
                    { field: 'Phone', title: 'Phone', width: 120 },
                    { field: 'Remark', title: 'Remark', width: 120 },
                    {
                        field: 'SubTime', title: 'Reg Time', width: 130, align: 'right',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                        }
                        
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: 'Delete',
                    iconCls: 'icon-remove',
                    handler: function () {

                        deleteUsers();
                    }
                }, {
                    id: 'btnAdd',
                    text: 'Add',
                    iconCls: 'icon-add',
                    handler: function () {
                        addInfo();
                    }
                }, {
                    id: 'btnEdit',
                    text: 'Edit',
                    iconCls: 'icon-edit',
                    handler: function () {
                        editInfo();
                    }
                }, {
                    id: 'btnSetRoles',
                    text: 'Add Roles',
                    iconCls: 'icon-frash',
                        handler: function () {
                            var rows = $("#tt").datagrid('getSelections');
                            if (rows.length != 1) {
                                $.messager.alert("Failed", "Please select one and only one item.");
                                return;
                            }
                            setRole(rows[0].ID);
                        }
                }, {
                    id: 'btnSetActionss',
                    text: 'Add Actions',
                    iconCls: 'icon-man',
                    handler: function () {
                        var rows = $("#tt").datagrid('getSelections');
                        if (rows.length != 1) {
                            $.messager.alert("Failed", "Please select one and only one item.");
                            return;
                        }
                        setAction(rows[0].ID);
                    }
                }]
            })
        }

        //Set actions for a user
        function setAction(id) {
            var url = "/UserInfo/SetAction/" + id;
            $("#frameSetAction").attr("src", url);

            $("#setActionDiv").css("display", "block");
            $("#setActionDiv").dialog({
                title: "Set action for user of " + id,
                width: 600,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: 'Save',
                    iconCls: 'icon-ok',
                    handler: function () {                        
                        var iframeObj = $("#frameEdit")[0];
                        iframeObj.contentWindow.submitEditFrm();
                    }
                }, {
                    text: 'Cancel',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $('#setActionDiv').dialog('close');
                    }
                }]
            });
        }

        //Set roles for a user
        function setRole(id) {
            var url = "/UserInfo/SetRole/" + id;
            $("#frameSetRole").attr("src", url);
            $("#setRoleDiv").css("display", "block");
            $("#setRoleDiv").dialog({
                title: "Set role for user of " + id,
                width: 400,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: 'Save',
                    iconCls: 'icon-ok',
                    handler: function () {                        
                        var iframeObj = $("#frameEdit")[0];
                        iframeObj.contentWindow.submitEditFrm();
                    }
                }, {
                    text: 'Cancel',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $('#setRoleDiv').dialog('close');
                    }
                }]
            });
        }

        //Delete selected users
        function deleteUsers() {
            var rows = $("#tt").datagrid('getSelections');
            if (!rows || rows.length == 0) {
                $.messager.alert("Tips", "Please selected the users to delete", "error");
            }
            $.messager.confirm("Tips", "Do you want to delete these users?", function (r) {
                if (r) {
                    var strId = "";
                    for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].ID + ",";//1,2,3,
                    }
                    //rows.foreach(row => {
                    //    strId += row.ID + ","; //StrId = [1,2,3]
                    //})
                    strId = strId.substr(0, strId.length - 1);
                    $.post("/UserInfo/DeleteUserInfo", { "strId": strId }, function (data) {
                        if (data == "ok") {
                            $("#tt").datagrid('clearSelections');
                            $("#tt").datagrid('reload'); // Use reload instead of loadData
                            //loadData();
                        } else {
                            $.messager.alert("Tips", "Failed to delete users", "error");
                        }
                    })
                }
            })
        }

        //Add a user dialog
        function addInfo() {
            $("#addDiv").css("display", "block");
            $("#addDiv").dialog({
                title: "Add a user",
                width: 300,
                height: 300,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: "Submit",
                    iconCls: "icon-ok",

                    handler: function () {
                        $("#addForm").submit();
                    }
                }, {
                    text: "Cancel",
                    handler: function () {
                        $("#addDiv").dialog('close');
                    }
                }]
            });
        }

        //Edit a user info
        function editInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert("Tips", "Please select one and only one item", "error");
                return;
            }

            $.post("/UserInfo/GetUserInfoModel", { "id": rows[0].ID }, function (data) {
                if (data.msg == "ok") {
                    $("#txtEName").val(data.serverData.UserName);
                    $("#txtEPwd").val(data.serverData.Pwd);
                    $("#txtEMail").val(data.serverData.Mail);
                    $("#txtEPhone").val(data.serverData.Phone);
                    $("#txtERemark").val(data.serverData.Remark);                   
                    //$("#txtSubTime").val(ChangeDateFormat(data.serverData.SubTime));
                    //$("#txtDelFlag").val(data.serverData.DelFlag);
                    $("#txtId").val(data.serverData.ID);
                    $("#editDiv").css("display", "block");
                    $("#editDiv").dialog({
                        title: "Edit a user's info",
                        width: 300,
                        height: 300,
                        collapsible: true,
                        resizable: true,
                        modal: true,
                        buttons: [{
                            text: "Ok",
                            iconCls: 'icon-ok',
                            handler: function () {
                                $("#editForm").submit();
                            }
                        },
                        {
                            text: "Cancel",
                            handler: function () {
                                $('#editDiv').dialog('close');
                            }

                        }]
                    });
                } else {
                    $.messager.alert("Tips", "The user does not exist", "error");
                }
            })
        }

        //Actions after edit dialog
        function afterEdit(data) {
            if (data == "ok") {
                $('#editDiv').dialog('close');
                $('#tt').datagrid('reload');
            } else {
                $.messager.alert("Tips", "Failed to update the user", "error");
            }
        }


        //Actions after add a user
        function afterAdd(data) {
            if (data == "Ok") {
                $("#addForm input").val(""); //Clear input values
                $("#addDiv").dialog('close');
                $("#tt").datagrid("reload");
            } else {
                $.messager.alert("Tips", "Failed to add a user", "error");
            }
        }

        //Close set roles dialog after setting roles
        function afterSetRole() {
            $('#setRoleDiv').dialog('close');
        }

        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body>
    <div>
        <div>
            User Name: <input type="text" id="txtUserName" />
            &nbsp;&nbsp;
            Phone: <input type="text" id="txtPhone" />
            <input type="button" value="Search" id="btnSearch" />
        </div>
        <table id="tt" style="width: 700px;" title="Users management" iconcls="icon-edit"></table>
    </div>
    <!--Add a user -->
    <div id="addDiv">
        @using (Ajax.BeginForm("Add", "UserInfo",
            new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "addForm" }))
        {
            <table>
                <tr><td>User Name</td><td><input type="text" name="UserName" /></td></tr>
                <tr><td>Password</td><td><input type="text" name="Pwd" /></td></tr>
                <tr><td>Email</td><td><input type="text" name="Email" /></td></tr>
                <tr><td>Phone</td><td><input type="text" name="Phone" /></td></tr>
                <tr><td>SubBy</td><td><input type="text" name="SubBy" /></td></tr>
                <tr><td>Remark</td><td><input type="text" name="Remark" /></td></tr>
                <tr><td>SortBy</td><td><input type="text" name="Sort" /></td></tr>
            </table>
        }
    </div>

    <!--Edit a User-->
    <div id="editDiv">
        @using (Ajax.BeginForm("EditUserInfo", "UserInfo", new { },
            new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "editForm" }))
        {
            <input type="hidden" name="SubTime" id="txtSubTime" />
            <input type="hidden" name="DelFlag" id="txtDelFlag" />
            <input type="hidden" name="ID" id="txtId" />
            <input type="hidden" name="SubBy" id="txtSubBy" />
            <table>
                <tr><td>User Name</td><td><input type="text" name="UserName" id="txtEName" /></td></tr>
                <tr><td>Password</td><td><input type="text" name="Pwd" id="txtEPwd" /></td></tr>
                <tr><td>Email</td><td><input type="text" name="Mail" id="txtEMail" /></td></tr>
                <tr><td>Phone</td><td><input type="text" name="Phone" id="txtEPhone" /></td></tr>
                <tr><td>Remark</td><td><input type="text" name="Remark" id="txtERemark" /></td></tr>
            </table>
        }

    </div>

    <!--Set roles for a user-->
    <div id="setRoleDiv">
        <iframe width="100%" height="100%" frameborder="0" id="frameSetRole" src="~/Error.html"></iframe>

    </div>

    <div id="setActionDiv">
        <iframe width="100%" height="100%" frameborder="0" id="frameSetAction" src="~/Error.html"></iframe>

    </div>




</body>
</html>
