@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Management</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-en.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            loadData();
        });

        function loadData(pars) {
            $('#tt').datagrid({
                url: '/UserInfo/GetUserInfo',
                title: 'User Management',
                width: 700,
                height: 400,
                fitColumns: true, //Columns self adjustment
                nowrap: false,
                idField: 'ID',//The column of the key
                loadMsg: 'Loading users info...',
                pagination: true,//Paging or not
                singleSelect: false,//Allow to select single row or not
                pageSize: 5,//Max items in a page
                pageNumber: 1,//Current page number
                pageList: [5, 10, 15],
                queryParams: pars,//Paras sent to back end.
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: 'Number', width: 80 },
                    { field: 'UserName', title: 'Name', width: 120 },
                    { field: 'UserPass', title: 'Password', width: 120 },
                    { field: 'Remark', title: 'Remark', width: 120 },
                    {
                        field: 'RegTime', title: 'Reg Time', width: 80, align: 'right',
                        //formatter: function (value, row, index) {
                        //    return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                        //}
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: 'Delete',
                    iconCls: 'icon-remove',
                    handler: function () {
                        
                        deleteUsers();
                    }
                }, {
                    id: 'btnAdd',
                    text: 'Add',
                    iconCls: 'icon-add',
                    handler: function () {

                        //addInfo();
                    }
                }, {
                    id: 'btnEdit',
                    text: 'Edit',
                    iconCls: 'icon-edit',
                    handler: function () {

                        //eidtInfo();
                    }
                }],
            })
        }

        function deleteUsers() {
            var rows = $("#tt").datagrid('getSelections');
            if (!rows || rows.length == 0) {
                $.messager.alert("Tips", "Please selected the users to delete", "error");
            }
            $.messager.confirm("Tips", "Do you want to delete these users?", function (r) {
                if(r) {
                    var strId = "";
                    for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].ID + ",";//1,2,3,
                    }
                    //rows.foreach(row => {
                    //    strId += row.ID + ","; //StrId = [1,2,3]
                    //})
                    strId = strId.substr(0, strId.length - 1);
                    $.post("/UserInfo/DeleteUserInfo", { "strId": strId }, function (data) {
                        if (data == "ok") {
                            $("#tt").datagrid('clearSelections');
                            $("#tt").datagrid('reload'); // Use reload instead of loadData
                            //loadData();
                        } else {
                            $.messager.alert("Tips", "Failed to delete users", "error");
                        }
                    })
                }
            })
        }

        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body>
    <div>
        <table id="tt" style="width: 700px;" title="Users management" iconcls="icon-edit" />
    </div>

</body>
</html>
