@model JQ.QA.Model.WF_StepInfo
@using JQ.QA.Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Process A WorkFlow</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true);

        }
    </div>
</body>
</html>
