@model IEnumerable<JQ.QA.Model.WF_Instance>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>GetMyWorkflows</title>
</head>
<body>
    <h3>My Pending Workflows</h3>
    <table class="table table-bordered table-striped" >
        <tr>
            <th>
                Workflow Name
            </th>
            <th>
                Submit Time
            </th>
            <th>
                Sponser
            </th>
            <th>
                Priority
            </th>
            <th>
                Options
            </th>


        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstanceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                <a href="/WFInstance/CheckWorkFlow?Id=@item.ID">Validate</a>                
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
