@model JQ.QA.Model.WF_Instance
    @using JQ.QA.Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Current Workflow List</title>
    <link href="~/Content/tableStyle.css" rel="stylesheet" />

    @*<link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/JQEasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/JQEasyUI/themes/icon.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script type="text/javascript">
        function expenseClaim() {
            window.location.href = "/WFInstance/StartFinancial?tempId=1";
        }


    </script>*@
</head>

<body>
    <div>
        <h3>Please select a workflow to start</h3>
        <table>
            <tr>
                <th>NO.</th>
                <th>Name</th>
                <th>Status</th>
            </tr>

            @if (ViewData["list"] != null)
            {
                foreach (var temp in (List<WF_Temp>)ViewData["list"])
                {
                    <tr>
                        <td>@temp.ID</td>
                        <td>
                            <a href="/WFInstance/StartFinancial/?id=@temp.ID">Start workflow @temp.TempName</a>
                        </td>
                        <td>@temp.TempStatus</td>
                    </tr>
                }
            }
        </table>
       
    </div>
</body>
</html>
